<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="/js/script.js"></script>
    <% if (authenticated) { %>
        <script src="/js/thread.js"></script>
        <%}%>
            <script src="/js/comment.js"></script>
            <script src="/js/user.js"></script>
            <script src="/js/search.js"></script>
            <script src="/js/popup.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
            <title>Threads</title>
</head>

<body class="flex flex-col h-screen bg-white md:bg-theme-bg text-xs md:text-base">